.panel {
    margin-top:20px;
    margin-bottom: 0px;
    background-color: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading,
.panel-body {
    padding: 0px;
    background:none !important;
    border: none;
}

.panel p {
    margin-bottom: 0px;
}

.carousel-style-standard a{
    background: transparent !important;
}

header .header-content .header-content-inner hr {
    margin: 15px auto;
}

.image-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}

@media (min-width: 1200px) {

    .image-blueprint {
        height: 340px;
        margin: 0 auto;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .image-blueprint {
        height: 277px;
        margin: 0 auto;
    }
}

@media (max-width: 991px) {
    .image-blueprint {
        margin: 0 auto 30px;
    }
}

@media (min-width: 768px) {
    .carousel-inner .item img{
        height: 100vh;
        width: 100%;
    }

    .Home>.container {
        position: absolute;
        top: 100%;
        width: 100%;
        background: rgba(34, 34, 34, 0.5)
    }

    .carousel-caption {
        right: 0px !important;
        left: 0px !important;
        top: 55% !important;

    }
}

@media (max-width: 991px) and (min-width: 481px) {

    .carousel-caption {
        top: 10% !important;
    }
    .image-blueprint {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .image-blueprint {
        height: 350px;
    }
}

/* Related media queries for circles */
.circle{
    background: rgb(240,95,64);
    width: 10px;
    height:10px;
    position: absolute;
    border-radius: 10px;
}

.circle:hover {
    cursor: pointer;
}

@media (min-width: 1200px) {
    #stairs-marker {
        top: 170px;
        left: 170px;
    }

    #living-room-marker {
        top: 145px;
        left: 130px;
    }

    #family-room-marker {
        top: 146px;
        left: 255px;
    }

    #kitchen-marker {
        top: 77px;
        left: 234px;
    }

    #dining-room-marker {
        top: 120px;
        left: 165px;
    }

    #terrace-one-marker {
        top: 120px;
        left: 100px;
    }

    #terrace-two-marker {
        top: 165px;
        left: 100px;
    }

    #terrace-three-marker {
        top:210px;
        left:100px;
    }

    #terrace-four-marker {
        top:250px;
        left:145px;
    }

    #master-bedroom-marker {
        top: 250px;
        left:210px;
    }

    #bedroom-one-marker {
        top: 80px;
        left: 180px;
    }

    #bedroom-two-marker {
        top: 80px;
        left: 280px;
    }

    #bedroom-three-marker {
        top: 170px;
        left: 270px;
    }

    #hallway-marker {
        top: 130px;
        left: 215px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #stairs-marker {
        top: 140px;
        left: 135px;
    }

    #living-room-marker {
        top: 115px;
        left: 105px;
    }

    #family-room-marker {
        top: 115px;
        left: 210px;
    }

    #kitchen-marker {
        top: 60px;
        left: 190px;
    }

    #dining-room-marker {
        top: 95px;
        left: 135px;
    }

    #terrace-one-marker {
        top: 95px;
        left: 80px;
    }

    #terrace-two-marker {
        top: 135px;
        left: 80px;
    }

    #terrace-three-marker {
        top:170px;
        left:80px;
    }

    #terrace-four-marker {
        top:210px;
        left:115px;
    }

    #master-bedroom-marker {
        top: 210px;
        left:165px;
    }

    #bedroom-one-marker {
        top: 65px;
        left: 150px;
    }

    #bedroom-two-marker {
        top: 65px;
        left: 225px;
    }

    #bedroom-three-marker {
        top: 140px;
        left: 215px;
    }

    #hallway-marker {
        top: 110px;
        left: 175px;
    }
}

@media (max-width: 991px) {
    .circle {
        display: none !important;
    }
}
